.body {
    font-weight:400;
    font-family: sans-serif;
}
.flex-container {
    display: flex;
   align-items: center;
}
.image {
    padding-top: 4em;
    padding-left: 200px;
    padding-right: 200px;
}
.header {
    padding-top: 5vh;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
.fname, .lname, .phone, .email2 {
    background-color:rgb(245, 241, 241);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 212px;
    padding-left: 5px; 
    margin-bottom: 20px;
    border: 1px solid;
    border-color: rgb(223, 222, 222);
    border-radius: 7px;
}
.cpwd {
    background-color:rgb(245, 241, 241);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 212px;
    padding-left: 5px; 
    margin-bottom: 5px;
    border: 1px solid;
    border-color: rgb(223, 222, 222);
    border-radius: 7px;

}
 .signup   {
    background-color: rgb(42, 199, 183);
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: none;
    margin-top: 50px;
    margin-left: 125px;
    font-size: 14px;
    border-radius: 5%;
    font-weight: bold;
  
}
@media only screen and (max-width: 375px) {
    .flex-container {
       flex-direction: column;
       align-items: center;
    }
    .image {
        width: 110%;
    }
    .header {
        padding-top: 2vh;
        text-align: center;
    }
    .fname, .lname, .phone, .email2, .cpwd {
        padding-right: 190px;
    }
    .signup   {
        margin-left: 90px;
    }
    .fname, .lname, .phone, .email2, .cpwd {
        margin-left: 6px;
    }
 .pass {
     flex-wrap: wrap;
    margin-left: 6px;
 }

 }
