
.logo-container {
    display: flex;
    align-items: center;
}
#a .nav-logo, .logo-text {
    color: black;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.flex-container {
    display: flex;
    align-items: center;
}

.image {
    padding-top: 4em;
    padding-left: 200px;
    padding-right: 200px;
}
.header {
    padding-top: 5vh;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
}
.name-container {
    display: flex;
    align-content: center;
    align-items: center;
}
.fname, .lname {
    background-color:rgb(245, 241, 241);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 5px; 
    margin-bottom: 20px;
    border: 1px solid;
    border-color: rgb(223, 222, 222);
    border-radius: 7px;
    font-size: 15px;
}
.fname {
    padding-right: 14px;
    margin-right: 58px;
}
.lname {
    padding-right: 16px;
}
.phone, .email2, .cpwd {
    background-color:rgb(245, 241, 241);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 280px;
    padding-left: 5px; 
    margin-bottom: 20px;
    border: 1px solid;
    border-color: rgb(223, 222, 222);
    border-radius: 7px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
}

.pass .check-box{
    font-size: 19px;
}
 .signup   {
    background-color: rgb(42, 199, 183);
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 12px;
    padding-top: 12px;
    border: none;
    margin-top: 50px;
    margin-left: 125px;
    font-size: 14px;
    border-radius: 5%;
    font-weight: bold;
    font-size: 17px;
  
}
@media only screen and (max-width: 375px) {
    .flex-container {
       flex-direction: column;
       align-items: flex-start;
       padding-bottom: 60px;
    }
   .flex-container .img {
       padding: 0px;
    }
    .image {
        padding: 0px;
        margin-left: -80px;
    }
    .header {
        padding-top: 0vh;
        padding-right: 46px;
    }
    .name-container {
        /* flex-direction: row; */
        align-items: flex-start;
        margin-left: 20px;
    }
    
    .fname {
        margin-right: 15px;
        /* width: 40%; */
        padding-right: 20px;
    }
    .lname {
        padding-right: 6px;
    }
    
   .email2, .phone, .cpwd {
        padding-right: 190px;
        margin-left: 15px;
    }
   
    .pass {
        font-size: 15px;
        font-weight: 400;
        margin-left: 17px;
        text-overflow: clip;
       
    }
    .check-box {
        padding-left: 15px;
        font-size: 15px;
        font-weight: 400;
    }
.signup {
    margin-left: 105px;
}
    
 }
